/* Color Palette
#2b2d42 - dark navy
#8d99ae - gray-blue
#edf2f4 - almost white
#ef233c - red
*/


/* Global styles 
------------------------------------*/


body {
    /* Remove the browser's default space around the page. */
    margin: 0;

    /* Use second font; use a serif fallback if unavailable. */
    font-family: "Libre Baskerville", serif;

    font-size: 16px;

    /* Use the regular font weight for ordinary text. */
    font-weight: 400;

    line-height: 1.5;

    color: #2b2d42;
    background: #edf2f4;
}

h1,
h2 {
    /* Use the handwritten font */
    font-family: "Edu QLD Hand";

    /* Use the bold font weight we requested from Google. */
    font-weight: 700;
}

/* Selecting the main heading containing my name. */
h1 {
    font-size: 64px;
}

/* Selecting the tagline and section headings. */
h2 {
    font-size: 36px;
}


header h1, header h2 {
    margin: 0;
}

/* Selecting project titles and school names. */
h3 {
    font-size: 20px;
    /* Use the bold version. */
    font-weight: 700;
}

/* All links. */
a {
    color: #ef233c;
}

header,
footer {
    background: #2b2d42;
    color: #edf2f4;
    padding: 30px;
    padding: 8px 3%;
    letter-spacing: 0.16em;
}

img{
    max-width: 200px;
    display: block;
    border-radius: 100px;
}

section {
    margin: 0;
    border-bottom: 3px solid rgb(46, 46, 86);
}

/* Projects
------------------------------------*/
.projects {
    background: #edf2f4;

    /* Add space between its content and its edges. */
    padding: 30px;
}


/* Education
------------------------------------*/
.education {
    background: #8d99ae;
    color: #192328;
    padding: 30px;
}